@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(30, 30, 30);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(3, 181, 181), rgb(34, 34, 219));
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(rgb(7, 231, 231), rgb(41, 41, 255));
}

h1 span {
  @apply text-transparent drop-shadow-lg bg-clip-text bg-gradient-to-r from-cyan-500 to-blue-500
}